body {
    background-color: #ece8d9;
}

#app {
    text-align: center;
}

#app_wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#top_separator {
    flex: 0.8;
}

#question_block {
    display: none;
    position: fixed;
    /* left: 50%; */
    top: 50%;
    transform: translate(0%, -50%);
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: rgb(236, 232, 217, 0.7);
}

#question_block, #result_message {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

#result_dashboard {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.player_column {
    display: inline-block;
    text-align: center;
    margin-left: 20px;
}

.player_score {
    transition: 1s;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person_column .player_score {
    color: green;
}

.ai_column .player_score {
    color: red;
}

.person_column {
    color: green;
}

.ai_column {
    color: red;
}

#playground {
    overflow-y: auto;
    max-height: 500px;
    flex: 0.05;
}

.char {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.player_result {
    color: #fff;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.player_result.player_result_person {
    background-color: green;
}

.player_result.player_result_ai {
    background-color: red;
}

.word_spacer {
    outline: 1px solid #000;
    width: 20px;
}

#game_panel {
    display: none;
}

#word_input {
    font-size: 18px;
    border-radius: 5px;
}

#run {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#run:hover {
    font-size: 125%;
    transition: 0.3s;
}

#next_step {
    display: block;
    margin: 15px auto 0;
}

.btn {
    padding: 10px;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    color: #fff;
}

.btn {
    background-color: red;
    transition: 0.5s;
}

.btn:hover {
    background-color: green;
    transition: 0.5s;
}